bin() = convert any base to binary

In [1]:
print(bin(15))
print(bin(0o11))
print(bin(0x10))

0b1111
0b1001
0b10000

oct()=convert any base into octal
Hex()=convert any base to hexa decimal

In [2]:
print(oct(15))
print(oct(1101))
print(oct(0x19))
print(hex(15))
print(hex(1101))
print(hex(0x19))

0o17
0o2115
0o31
0xf
0x44d
0x19

In [4]:
x=1.20
y=2367
z=-33.68
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'int'>
<class 'float'>

In [5]:
x=36e3
print(x)
print(type(x))

36000.0
<class 'float'>

# list

In [6]:
l=[1,2,3,4,5]
print(l)
print(l[0])
l[0]=6
print(l)

[1, 2, 3, 4, 5]
1
[6, 2, 3, 4, 5]

# tuple

In [9]:
t=(1,2,3,4,5)
print(t)
print(t[0])

print(t)

(1, 2, 3, 4, 5)
1
(1, 2, 3, 4, 5)

# loop

In [12]:
for i in range(10):
    print(i)
    
print("-------------------------------------------")
    
for i  in range (1,10):
    print(i)
print("-------------------------------------------")
    
for i in range(1,10,2):
    print(i)

0
1
2
3
4
5
6
7
8
9
-------------------------------------------
1
2
3
4
5
6
7
8
9
-------------------------------------------
1
3
5
7
9

# Mapping Type

In [3]:
#dict
d={10:"aman",20:"arayan",30:"dhairya",10:'xyz'}
print(d)
print(type(d))
print(d[10])
print(d[20])
print(d[30])
d[30]="purvesh"
print(d)

{10: 'xyz', 20: 'arayan', 30: 'dhairya'}
<class 'dict'>
xyz
arayan
dhairya
{10: 'xyz', 20: 'arayan', 30: 'purvesh'}

In [19]:
a=5
a=10
print(a)

10

In [20]:
l=[1,2,3,4,4,4,4,4]
print(l)

[1, 2, 3, 4, 4, 4, 4, 4]

# set

In [3]:
s={'apple','banana','orange','cherry'}
print(s)

{'apple', 'banana', 'orange', 'cherry'}

# boolean Type

In [6]:
print(20>8)
print(20==8)
print(20<8)
print(bool("abc"))#for string it is true
print(bool(""))#for empty str,tuple,set etc. it gives false
print(bool(123))
print(bool(0))

True
False
False
True
False
True
False

# Reserved Keyword

True     and        break         assert       lambda
False    or         continue      import       del
None     not        return        from         with
         is         in            as
         if         yield         class
         elif       try           def
         else       expcet        pass
         while      finally       globlal
         for        raise         non local

# variables

In [9]:
a,b,c='apple','orange','banana'
print(a)
#if three variable and give only two values then it gives error
print(type(a))

apple
<class 'str'>

In [10]:
a='apple','orange','banana'
print(a)
#by default type tuple
print(type(a))

('apple', 'orange', 'banana')
<class 'tuple'>

# globle variables vs local variables

In [11]:
a='python'
#function
def tast():
    a='java'
    print(a)
    
#calling function
tast()
print(a)

java
python

In [12]:
a='python'
def tast():
    global a
    a='java'
    print(a)
tast()
print(a)

java
java

In [14]:
def sum():
    a=20
    b=30
    c=a+b
    print(c)
    
sum()

50

# Reading input from user

In [17]:
a=input("enter no : ")
print(a)
print(type(a))

enter no : 30
30
<class 'str'>

# TYPE CASTING

In [18]:
a=int(input("Enter a : "))
b=int(input("Enter B : "))
c=a+b
print(c)

Enter a : 10
Enter B : 20
30

In [38]:
# 1.int()
print(int(123.987))

123

In [40]:
print(int(True))#if we write small t it gives an error

1

In [21]:
print(int(False))#same as true

0

In [22]:
print(int('10'))

10

In [23]:
print(int('10.5'))

ValueError: invalid literal for int() with base 10: '10.5'

In [24]:
print(int('ten'))

ValueError: invalid literal for int() with base 10: 'ten'

In [30]:
print(int('001111'))

1111

In [26]:
print(int(0B1111))

15

In [28]:
#float()
print(float(10))

10.0

In [29]:
print(float(True))

1.0

In [33]:
print(float(False))

0.0

In [34]:
print(float('10'))

10.0

In [35]:
print(float('10.5'))

10.5

In [36]:
print(float('ten'))

ValueError: could not convert string to float: 'ten'

In [37]:
print(float('0B1111'))

ValueError: could not convert string to float: '0B1111'

In [41]:
print(float(0B1111))

15.0

In [44]:
#bool()
print(bool(0))

False

In [45]:
print(bool(1))

True

In [46]:
print(bool(0.175))

True

In [47]:
print(bool(0.0))

False

In [48]:
print(bool("True"))

True

In [51]:
print(bool("False"))

True

In [52]:
print(bool(""))

False

In [1]:
#str()
print(str(10))
print(str(10.5))
print(str(True))

10
10.5
True

In [2]:
a=[1,2,3,4]
print(type(a))
b=tuple(a)
print(type(b))
print(b)

<class 'list'>
<class 'tuple'>
(1, 2, 3, 4)

# Python Operators

1. Artithmatic Operetor
+ = arithmatic
- = subtraction
* = multiplication
/ = division
// = floor division
% = modululus
** = exponent or power